<a href="https://colab.research.google.com/github/NuttaphonW/Data_science_Bootcamp/blob/main/sklearn_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import numpy as np

In [10]:
buyer = pd.read_csv("buyers_repartition_by_country.csv")
buyer.head()

,country,buyers,topbuyers,topbuyerratio,femalebuyers,malebuyers,topfemalebuyers,topmalebuyers,femalebuyersratio,topfemalebuyersratio,...,meanproductsliked,topmeanproductsbought,topmeanproductswished,topmeanproductsliked,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,France,1251,53,4.2,851,400,33,20,68.0,62.3,...,20.2,28.1,77.2,120.9,321.8,75.0,4.8,8.8,10.1,11.0
1,Royaume-Uni,792,38,4.8,560,232,30,8,70.7,78.9,...,29.5,22.4,161.2,193.7,298.3,68.2,5.4,8.8,11.1,12.2
2,Etats-Unis,912,31,3.4,700,212,21,10,76.8,67.7,...,32.8,27.9,119.4,224.1,359.3,73.0,4.9,9.7,11.7,27.9
3,Allemagne,578,29,5.0,409,169,21,8,70.8,72.4,...,41.1,17.8,175.7,367.2,296.6,39.3,5.1,8.6,11.2,11.3
4,Italie,400,21,5.3,283,117,14,7,70.8,66.7,...,35.5,24.7,208.4,103.4,247.9,40.9,6.4,11.6,14.3,15.4

In [6]:
buyer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    62 non-null     object
 1   buyers                     62 non-null     int64
 2   topbuyers                  62 non-null     int64
 3   topbuyerratio              62 non-null     float64
 4   femalebuyers               62 non-null     int64
 5   malebuyers                 62 non-null     int64
 6   topfemalebuyers            62 non-null     int64
 7   topmalebuyers              62 non-null     int64
 8   femalebuyersratio          62 non-null     float64
 9   topfemalebuyersratio       33 non-null     float64
 10  boughtperwishlistratio     57 non-null     float64
 11  boughtperlikeratio         60 non-null     float64
 12  topboughtperwishlistratio  32 non-null     float64
 13  topboughtperlikeratio      33 non-null     float64
 14  totalproductsbought        62 non-null     int64
 15  totalproductswished        62 non-null     int64
 16  totalproductsliked         62 non-null     int64
 17  toptotalproductsbought     62 non-null     int64
 18  toptotalproductswished     62 non-null     int64
 19  toptotalproductsliked      62 non-null     int64
 20  meanproductsbought         62 non-null     float64
 21  meanproductswished         62 non-null     float64
 22  meanproductsliked          62 non-null     float64
 23  topmeanproductsbought      33 non-null     float64
 24  topmeanproductswished      33 non-null     float64
 25  topmeanproductsliked       33 non-null     float64
 26  meanofflinedays            62 non-null     float64
 27  topmeanofflinedays         33 non-null     float64
 28  meanfollowers              62 non-null     float64
 29  meanfollowing              62 non-null     float64
 30  topmeanfollowers           33 non-null     float64
 31  topmeanfollowing           33 non-null     float64
dtypes: float64(19), int64(12), object(1)
memory usage: 15.6+ KB

In [11]:
X = buyer[["buyers","topbuyers","femalebuyers"]]
y = buyer ["topfemalebuyers"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [38]:
model = LinearRegression() #LinearRegression
model.fit(X_train, y_train)
pred = model.predict(X_test)

#MAE mean absolute error
mae = np.mean(np.absolute((y_test-pred)))

#MSE
mse = np.mean(np.absolute(y_test-pred)**2)

#rmse
rmse = (np.sqrt(mse))

print(mae,mse,rmse)

1.0175398035414487 4.763419233278677 2.1825258837591544

In [37]:
model1 = DecisionTreeRegressor() #DecisionTreeRegressor
model1.fit(X_train, y_train)
pred1 = model1.predict(X_test)

#MAE mean absolute error
mae1 = np.mean(np.absolute((y_test-pred1)))

#MSE
mse1 = np.mean(np.absolute(y_test-pred1)**2)

#rmse
rmse1 = (np.sqrt(mse))

print(mae1,mse1,rmse1)

1.2307692307692308 6.923076923076923 2.1825258837591544

In [36]:
model2 = RandomForestRegressor() #RandomForestRegressor
model2.fit(X_train, y_train)
pred2 = model2.predict(X_test)

#MAE mean absolute error
mae2 = np.mean(np.absolute((y_test-pred2)))

#MSE
mse2 = np.mean(np.absolute(y_test-pred2)**2)

#rmse
rmse2 = (np.sqrt(mse))

print(mae2,mse2,rmse2)

1.3353846153846154 8.899276923076924 2.1825258837591544

In [42]:
sum = {
    "type":["mae","mse","rmse"],
    "LinearRegession" :[{mae},{mse},{rmse}],
    "DicisionTree" :[{mae1},{mse1},{rmse1}],
    "RandomForest":[{mae2},{mse2},{rmse2}]
}
df = pd.DataFrame(sum)
df

   type       LinearRegession          DicisionTree          RandomForest
0   mae  {1.0175398035414487}  {1.2307692307692308}  {1.3353846153846154}
1   mse   {4.763419233278677}   {6.923076923076923}   {8.899276923076924}
2  rmse  {2.1825258837591544}  {2.1825258837591544}  {2.1825258837591544}